<div class="card-content">
    <div class="card-img">
        <img src="https://placeimg.com/380/230/nature" alt="">
        <span><h4>{{posicion}}</h4></span>
    </div>
    <div class="card-desc">
        <h3>{{sistema.nombre}}</h3>
        <p>Especificaciones</p>
        <ul>
            <li *ngFor="let e of sistema.especificaciones">
                <span>{{e}}</span>                
            </li>
        </ul>
        <a href="#" class="btn-card" (click)="ver()">Ver</a>      
        <span *ngIf="sistema.isSelected()">- PREFERIDO -</span>
        <a [routerLink]="['/sistema/:id']">Ver Detalle</a>        
    </div>
</div>
